%-----------ACHIEVEMENTS-----------%
\section{ {{- section.heading | latex_escape -}} }
\begin{itemize}[leftmargin=0.15in, label={}]
{%- for item in section['items'] %}
    \item \resumesub{ {{- item | richtext -}} }
{%- endfor %}
\end{itemize}
