%-----------PROJECTS-----------%
\section{ {{- section.heading | latex_escape -}} }
\begin{itemize}[leftmargin=0.15in, label={}]
{%- for entry in section.entries %}
    \item\noindent\resumesub\textbf{ {{- entry.name | latex_escape -}} }\vspace{-7pt}
    \begin{itemize}
{%- for bullet in entry.bullets %}
        \item \resumesub{ {{- bullet | richtext -}} }
{%- endfor %}
    \end{itemize}\vspace{-5pt}
{% endfor -%}
\end{itemize}
