%-----------ACHIEVEMENTS-----------%
\section{ {{- section.heading | latex_escape -}} }
\resumeSubHeadingListStart
    {%- for item in section['items'] %}
    \resumeItem{ {{- render_achievement_item(item) }} }
    {%- endfor %}
\resumeSubHeadingListEnd
