%----------HEADING----------%
\begin{center}
    \textbf{\Huge \scshape {{ basics.name | latex_escape }}} \\ \vspace{1pt}
{%- for contact in basics.contacts %}
    {% if contact.url %}\href{ {{- contact.url -}} }{\underline{ {{- contact.text | latex_escape -}} }}{% else %}{{ contact.text | latex_escape }}{% endif -%}
    {%- if not loop.last %} \quad{% endif %}
{%- endfor %}
\end{center}
